@import url('https://fonts.googleapis.com/css?family=Teko');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Teko', cursive;
	color: darkred;
}



#calc{
	margin: 150px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0;

}


button:hover{
	background-color: dodgerblue;
}
.display{

	width:50vw;
	transform: skewY(0deg);
	height: 10vw;
	font-size: 8vw;
	background-color: dimgrey;
	text-align: right;
}
.keygrid button{
	width: 5vw;
	height: 5vw;
	font-size: 2vw;
	border:0;
	outline: none;
}

.keygrid{
	width:25vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 6fr ;
	grid-gap: 0;
	transform: skewY(0deg);
	background-color: dimgrey;
}

#input{
	height: 20px;
	text-align: right;
}
#output{
	height: 30px;
}
